<header class="hero-unit" id="banner">
  <div class="container">
    <h1>#ohsiha</h1>
  <!--  <p class="lead">Project work 2016</p> -->
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>Bikes</h1>
      <h2 class="page-header"><label>Search for stations: <input ng-model="searchStation"></label>
</h2>

   <ul class="col-md-12 col-lg-12 col-sm-12" ng-repeat="thing in $ctrl.fullStationData | filter:searchStation">
      <!--  <li><a ui-sref="thing({ thingId: thing._id })">{{thing.name}}</a></li>-->
          <!--  <li><a ui-sref="edit({ thingId: thing._id })" uib-tooltip="{{thing.info}}">{{thing.name}}</a></li>
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go!</button>
            </span>-->

        <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><a href="#">{{thing.name}}</a></h3>
        </div>
        <div class="panel-body">
          <span>Bikes available: {{thing.availableBikes}} Docks available: {{thing.availableDocks}}

        </span>
        </div>
      </div>

      </ul>
    </div>

    </div>
  </div>

</div>
